body{
    margin:auto;
    background:yellow;
}

a{
    text-decoration:none
}

header{
    height:60px;
    /*border:5px solid hotpink;*/
    background-color: #3b2632;
}

#brand{
    float: left;
    color:white;
    font-size: 30px;
    margin-top:1%;
    margin-left:1%;
    border: 1px solid black;
}

#menu{
    border:1px solid black;
    margin-left:5%;
    margin-top:20px;
}

.menumenu{
    margin-left:15px;
    margin-top:15px;
}

#social{
    float: right;
}

.socialLogo{
    height:50px
}
